@font-face {
  font-family: "akz-bold";
  src: url(./akzidenz-grotesk/Akzidenz-grotesk-bold.ttf);
}

*/ body,
html {
  line-break: none;
}

body {
  position: relative;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}

html {
  text-transform: uppercase;
  max-width: 100vw;
  overflow-x: hidden;
}

.img,
.img-2,
.img-3 {
  filter: brightness(60%) contrast(75%);
}

.img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 200px;
  opacity: 1;
  z-index: -5;
}
.img-2 {
  transform: scaleX(-1);
  display: none;
  position: absolute;
  right: 0;
  object-fit: fill;
  width: 100vw;
  height: 200px;
  opacity: 1;
  z-index: -5;
  margin-left: -50px;
  padding-left: 0px;
  border-left: 10px;
}
.img-3 {
  display: none;
  position: absolute;
  right: 0;
  object-fit: fill;
  width: 100vw;
  height: 200px;
  opacity: 1;
  z-index: -5;
  margin-left: -50px;
  padding-left: 50px;
  border-left: 10px;
}

@keyframes fade {
  from {
    opacity: 0.2;
    filter: grayscale(500%) brightness(100%) contrast(100%);
  }
  to {
    filter: grayscale(40%) brightness(80%) contrast(60%);
  }
}

table,
input {
  display: grid;
  gap: 4px;
  font-family: "akz-bold";
  font-weight: bold;
  letter-spacing: 0.5px;
  font-weight: bold;

  line-break: strict;
}
.autocomplete-items {
  font-family: "akz-bold";
  font-weight: bold;
  letter-spacing: 0.5px;
  position: absolute;
  font-size: 11px;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 0;
  left: 0px;
  margin-left: -6px;
  margin-top: 10.5em;
}

a {
  color: white;
}

input {
  border: none;
  width: 200px;
  margin: 6.4em 0 8em 5px;
  padding: 0px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-size: 11px;
}
input:focus {
  border: none;
  outline: none;
  /* text-transform: uppercase; */
}
::placeholder {
  color: white;
}

.opacity {
  opacity: 0.4;
  color: gray;
  filter: blur(0.1px);
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items div {
  width: 177px;
  margin-left: 5.5px;
  padding-left: 5px;
  padding-top: 6px;
  padding-bottom: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: rgba(70, 70, 70, 0.8) !important;
  color: white !important;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: rgba(70, 70, 70, 0.8) !important;
  color: white !important;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1:hover {
  cursor: default;
}
h1,
#extra .index,
details,
#arrows {
  color: royalblue;
  text-align: start;
  font-family: "akz-bold";
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 11px;

  margin: 0px;
  cursor: default;
}
.index {
  display: inline;
}
.arrow {
  position: absolute;
  margin: -1px 10px 0px -14px !important;
}

span {
  display: none;
}

summary:hover {
  cursor: pointer;
}

table {
  grid-template-columns: 2.2fr 1.8fr 0.9fr 0.9fr;
  overflow-x: auto;
}
.column-7 {
  grid-template-columns: 30% 30% 20% 20% 30% 30% 30%;
  max-width: 100vw;
}

.column-6 {
  grid-template-columns: 30% 30% 20% 20% 30% 30%;
  max-width: 100vw;
}
.column-5 {
  grid-template-columns: 30% 30% 20% 20% 30%;
  max-width: 100vw;
}
.column-4 {
  grid-template-columns: auto auto auto auto;
}
.column-3 {
  grid-template-columns: auto auto auto;
}
.column-2 {
  grid-template-columns: auto auto;
}
.column-1 {
  grid-template-columns: 1fr;
}
.column-0 {
  grid-template-columns: 0fr;
}

th {
  text-align: start;
  font-weight: 400;
  color: white;
  font-size: 11px;
}

th:hover {
  cursor: pointer;
}

th,
td {
  padding-bottom: 3px;
}

td {
  border-bottom: 1px solid lightgray;
  font-size: 11px;
}

thead,
tbody,
tr {
  display: contents;
}

ul {
  list-style: none;
  font-family: "akz-bold";
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 11px;
  letter-spacing: 1px;
}
li {
  text-align: end;
  color: white !important;
  z-index: 9000;
}

ul li i {
  position: absolute;
  transform: translate(-3px, 0);
  right: 0;
  margin-right: 47px;
  top: 8px;
  z-index: 5;
}

ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  height: 8.2px;
}
ul li i:before {
  transform: translate(0.2px, 0) rotate(-135deg);
  height: 8.2px;
}
ul li i:after {
  transform: translate(0px, 0) rotate(135deg);
  height: 8.2px;
}

ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 40px;
  z-index: 6;
  opacity: 0;
  right: 0;
  top: 0;
  margin-top: -1px;
}
ul li input[type="checkbox"]:checked ~ p {
  margin-top: 1;
  max-height: 10px;
  opacity: 0;
  /* transform: translate(0, -50%); */
  z-index: -2;
}
ul li input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

ul li i:before,
ul li i:after {
  transition: all 0.5s ease-in-out;
}

ul li p {
  font-family: "akz-bold";
  position: absolute;
  width: 98%;
  left: 0;
  padding-top: 36px;
  height: 163px;
  margin-top: -19px;
  margin-left: 0px;
  padding-right: 24%;
  padding-left: 120px;
  text-align: start;
  z-index: -1;
  color: white;
  line-height: 15px;
  font-size: 11px;
  letter-spacing: 0.9px;

  transition: 0s;
}

h1,
ul,
#extra {
  margin-top: 8px;
  color: white;
}
ul {
  margin-right: 5px;
}
h1 {
  margin-left: 6px;
}
h1::selection {
  color: white;
  background: transparent;
}
h1::-moz-selection {
  color: white;
  background: transparent;
}

/* #company,
#industry,
#founded,
#revenue, */
#myInput {
  transition: 0s ease-in-out;
}
#menu label {
  font-size: 11px;
}

.bye {
  opacity: 0;
}
.hi {
  opacity: 1 !important;
}

aside {
  position: relative;
}

#tja {
  color: white;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 0px;
}

#tja::before,
#tja::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
#tja::before {
  background-color: none;
  text-decoration: none;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#tja::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: white;
}

#tja:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#tja:hover::after {
  transform: translate3d(0, 0, 0);
}

#tja #tjo {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 11;
  animation: h1 1s ease-in;
}

@keyframes h1 {
  0% {
    color: royalblue;
  }
  70% {
    color: royalblue;
  }
  100% {
    color: white;
  }
}

#tja:hover #tjo {
  transform: translate3d(-200%, 0, 0);
}

@media screen and (min-width: 700px) {
  .img {
    width: 50vw;
    margin-left: -7px;
    padding-left: 7px;
  }
  .img-2 {
    display: block;
    width: 50vw;
  }
}
@media screen and (min-width: 1000px) {
  .img {
    display: block;
    width: 34vw;
    margin-left: px;
    padding-left: 7px;
  }
  .img-2 {
    display: block;
    width: 33vw;
    margin-right: 31.5vw;
    margin-left: -50px;
    padding-left: 7px;
  }
  .img-3 {
    display: block;
    width: 33vw;
    margin-left: -40px;
    padding-left: 6px;
  }
}

#menu {
  position: absolute;
  height: 100px;
  left: 0;
  margin-top: 34px;
  margin-left: -33px;
  opacity: 0;
  font-size: 11px;
}

label {
  font-family: "akz-bold";
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 4.5px;
  cursor: pointer;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: start;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  display: inline;
  position: absolute;

  left: 0;
  margin-top: -0.5px;
  margin-bottom: 20px;
  height: 8px;
  width: 8px;
  background-color: #eee;
}

label:hover {
  color: lime;
}

label:hover input ~ .checkmark:after {
  border: solid lime;
  border-width: 0 3px 3px 0;
}
label input:checked ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.3);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
label input:checked ~ .checkmark:after {
  display: block;
}
label .checkmark:after {
  left: 2px;
  top: -1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.intro {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 100);
  opacity: 0;
  animation: intro 1s ease-in;
  z-index: -1;
}

@keyframes intro {
  0% {
    opacity: 1;
    z-index: 0;
  }
  40% {
    opacity: 1;
    z-index: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

#tja {
  z-index: 9999;
  width: 250px;
}

.visible {
  display: none;
}

table a {
  color: black;
  text-decoration: none;
}

.info-text {
  position: absolute;
  width: 370px;
  margin-left: -25px;
  margin-top: -23px;
  font-size: 9px;
}

.sortable {
  margin-left: 3px;

  margin-top: -12px;
  font-weight: bold;
}
thead th {
  font-weight: bold;
}

.info-button {
  margin-top: 8px;
  margin-right: 7px;
}

body {
  position: relative;
  overflow-x: hidden;
}

@media screen and (min-width: 600px) {
  .column-5 {
    grid-template-columns: auto auto auto auto auto;
  }
}
@media screen and (min-width: 650px) {
  .column-6 {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media screen and (min-width: 700px) {
  .column-7 {
    grid-template-columns: auto auto auto auto auto auto auto;
  }
}

@media screen and (max-width: 450px) {
  input,
  table,
  td,
  tr,
  p,
  th {
    font-size: 9px;
  }
  .sortable {
    margin-top: 21px;
  }
  ul li i {
    position: absolute;
    transform: translate(-0px, 0);
    right: 0;
    margin-right: 46px;
    top: 7px;
    z-index: 5;
  }
  .info-text {
    font-size: 8.5px !important;
    line-height: 11px !important;
    width: 265px;
    margin-top: -19px;
  }
}
